$font-regular: "Nunito", sans-serif;
$font-handwrite: "Cormorant", serif;

$color-text-white: #fff;
$color-text-black: #000;
$color-text-highlighted: #6DCDB8;

$color-background-dark: #333333;
$color-background-black: #000;
$color-background-highlighted: #6DCDB8;
$color-background-highlighted-with-opacity: #6DCDB876;

$size-text-regular: 18px;

#home {
  header {
    background-color: $color-background-highlighted-with-opacity;
    .header-navigation {
      background-color: $color-background-dark;
      padding: 16px 0;
      position: relative;
      z-index: 1;
      .header-navigation-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      a {
        cursor: pointer;
        outline: none;
        text-decoration: none;
        display: block;
        figure.logo {
          margin: 0;
          padding: 0;
          width: 80px;
          img {
            width: 100%;
          }
        }
      }
      nav {
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          display: flex;
          gap: 0 28px;
          li {
            a {
              text-decoration: none;
              display: block;
              color: $color-text-white;
              font-family: $font-regular;
              font-size: $size-text-regular;
              &:hover {
                color: $color-text-highlighted;
              }
            }
          }
        }
      }
      .social-links {
        display: flex;
        gap: 16px;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            display: flex;
            outline: none;
            text-decoration: none;
            cursor: pointer;
            color: $color-text-white;
            font-size: 22px;
            width: 44px;
            height: 44px;
            border-radius: 100%;
            background-color: $color-background-black;
            justify-content: center;
            align-items: center;
            &:hover {
              color: $color-background-highlighted;
            }
          }
        }
      }
    }
    .header-content {
      .header-content-container {
        height: 80vh;
        min-height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 {
          color: $color-text-black;
          font-family: $font-handwrite;
          font-size: 4em;
          margin: 0 0 15px;
        }
        p {
          color: $color-text-black;
          font-family: $font-regular;
          font-size: $size-text-regular;
          margin: 0 0 45px;
        }
        a {
          outline: none;
          text-decoration: none;
          cursor: pointer;
          color: $color-text-black;
          border: solid 1px $color-text-black;
          font-family: $font-regular;
          padding: 16px 22px;
          border-radius: 10px;
          &:hover {
            color: $color-text-white;
            background-color: $color-background-black;
          }
        }
        figure {
          margin: 0;
          padding: 0;
          overflow: hidden;
          width: 75%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}